on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

name: Deploy Extension
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npx ovsx publish -p ${{ secrets.OPEN_VSX_TOKEN }}
      - run: npx vsce package
      - run: npx vsce publish -p ${{ secrets.VS_MARKETPLACE_TOKEN }}
